div#goobo-classic {
	grid-template-columns: 1fr 2fr 1fr;
	display: grid;
}

div[id^="goobo-"] {
	border: 1px solid black;
	padding: 1px;
	margin:1px;
}

/*ARBOR DAY*/
ul#guild-list{
	padding:0;
}
li.goobo-guild.active {
	/*background-color:#eeea;*/
}
li.goobo-channel.active {
	background-color: #faaa;
}
li.goobo-guild {
	list-style-type: none;
	padding: 0;
}
	li.goobo-guild:hover {
		/*background-color: #7777ff33;*/
	}
li.goobo-channel:hover {
	background-color: #00ff0033;
}
button.create-channel {
	float:right;
	padding:0px;
	width:1.5em;
}
ul#guild-list * {
	user-select: none;
}

div.ggli-guild-name{
	font-weight:bold;
}
ul.ggli-channel-list{
	padding-left:20px;
}
li.goobo-channel.unread{
	list-style-type:circle;
}

/*ARMODAFINIL*/
dialog.alert-sigma{
	top:0px;
}
button.modal-close {
	display: inline-block;
	position: absolute;
	right: 12px;
	user-select: none;
}
table.list-all-guilds, table.list-all-guilds th, table.list-all-guilds td {
	border-collapse: collapse;
	border-width: 1px;
	border-color: #000;
	border-style: solid;
}
table.list-all-guilds thead{
	background-color:#eee;
}
	table.list-all-guilds tbody:nth-child(even) {
		background-color: #eef;
	}
	table.list-all-guilds tbody:nth-child(odd) {
		background-color: #fee;
	}
span.modal-title {
	font-weight: bold;
	font-size: 1.1em;
	display: inline-block;
	justify-self: left;
}
div.modal-heading {
	margin-bottom:0.5lh;
}


/* BURGER PARLOUR*/

li.goobo-message {
	list-style-type: none;
	padding:0;

	div {
		display: inline-block;
	}

		div.gmli-author {
			font-weight: bold;
		}
}

ul#the-fridge {
	padding: 0;
	margin: 0;
}
div#home-of-the-whopper {
	input {
		width: 97%;
	}
}

/*CRIMINALS*/

ul#guild-members {
	padding-left: 20px;
	margin:0;
}

