# nodejs
node_modules/***
package-lock.json

# tsc
obj/***
tsconfig.tsbuildinfo
dist/***

# tsup
dist_II/***

# windows
desktop.ini

# secrets et al.
notkeys/***
opm-data/***

# too big for github
bigassets/node*
