/*.lk-button-menu {
	display: flex;
	flex-direction: column;
	gap: 8px;
}*/

div.lk-participant-placeholder {
	background-color: lightpink!important;
}

button.lk-button.lk-button-menu::before {
	/*content: "MENU";*/
}
div.lk-grid-layout-wrapper {
	
	min-height: 200px;
}

button.lk-close-button.lk-button.lk-chat-toggle {
	background-color: darkcyan;
}
